<div id="sticky_footer" class="text-center">
<p>This is my content.</p>
</div>
 <style>
 #sticky_footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #333333;;
    height: 50px;
}
#sticky_footer p{
  color: #ffffff;
}


 </style>